CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
  Remove:
    - -W*

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true
